//Devices
$smallDisplay: 500px;
$largeDisplay: 1024px;
//Borders
$borderColorPassive: #636150;
$borderColorActive: #D54604;
//Text
$fontFamily: Helvetica, Arial;
$invertTextColor: white;
$textColor: #4D4A3E;
//Backgrounds
$headerColor:#D54604;
$inputBackgroundPassive:#D9D8D0;
$backgroundA: #4D4A3E;
$backgroundB: white;
//Path
$spriteSheet:'../images/icons.png';

//Responsive handler
@mixin respond-to($media) 
{
  @if $media == smallDisplay 
  {
    @media only screen and (max-width: $smallDisplay) 
    { 
      @content; 
    }
  }
  @else if $media == mediumDisplay
  {
    @media only screen and (max-width: $largeDisplay) and (min-width: $smallDisplay)
    { 
      @content; 
    }
  }
  @else if $media == largeDisplay 
  {
    @media only screen and (min-width: $largeDisplay) 
    { 
      @content; 
    }
  }
}

//Prefixing border
@mixin border($radius, $width, $color) 
{
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
  
  border: $width solid $color;
}

//the small triangle for the tooltip
@mixin dreieck($color) 
{
   content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $color
}

//Prefixing is no fun at all
@mixin linear-gradient($fromColor, $toColor)
{
  background-color: $toColor;
  background-image: -webkit-gradient(linear, top, bottom, from($fromColor), to($toColor));
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); 
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); 
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor);
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); 
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}
body
{
  margin:0;
  padding:0;
  font-family: $fontFamily;  
  background-color:$backgroundA;
}
h2
{
  @include respond-to(largeDisplay) 
  { 
      font-size:20px;
      font-weight:normal;
  }
  @include respond-to(mediumDisplay) 
  { 
      font-size:16px;
      font-weight:normal;
  }
  @include respond-to(smallDisplay) 
  { 
      font-size:14px;
      font-weight:normal;
  }
  
}
h1
{
  @include respond-to(largeDisplay) 
  { 
      font-size:25px;
      font-weight:normal;
  }
  @include respond-to(mediumDisplay) 
  { 
      font-size:22px;
      font-weight:normal;
  }
  @include respond-to(smallDisplay) 
  { 
      font-size:20px;
      font-weight:normal;
  }
  
}

.wrapper 
{
  margin:0 auto;
  margin-top:20px;
	display:table;

  @include border(0px, 5px, $borderColorPassive); 
  @include linear-gradient( $backgroundB, $backgroundB);
  @include respond-to(smallDisplay) 
  { 
      width: 80%;
  }
  @include respond-to(mediumDisplay) 
  { 
      width:400px;
  }
  @include respond-to(largeDisplay) 
  { 
      width: 400px;
  }
  overflow:hidden;
}

form
{
  position:relative;
  width: 80%;
  margin: 0 auto ;
  display: table;
  padding:20px;
}
.formelement {
  position:relative;
  margin:15px;
  @include respond-to(smallDisplay) 
  {
      left:-10px;
  }
}
input[type=text]
{
  background-color: $inputBackgroundPassive;
  color: $textColor;
  width:70%;
  margin:0 auto;
	padding: 15px;
	padding-left:67px;
	border:none;
  @include respond-to(smallDisplay) 
  { 
      width: 70%;
    	padding-left: 34%px;
    	padding-right:10px;
  }
  display:table;
}

input[type=text]:focus 
{
  background-color:lighten($inputBackgroundPassive, 8%);
}

input[type=password]
{
  background-color: $inputBackgroundPassive;
  color: $textColor;
  margin:0 auto;
	width:70%;
	padding: 15px;
	padding-left:67px;
  border:none;
  @include respond-to(smallDisplay) 
  { 
      width: 70%;
    	padding-left: 34%px;
    	padding-right:10px;
  }
  display:table;
  
}

input[type=password]:focus
{
  background-color:lighten($inputBackgroundPassive, 8%);
}

button
{
  color:$invertTextColor;
  background-color: $headerColor;
  margin: 0 auto;
  margin-top:20px;
	width:90%;
	padding-top: 20px;
  padding-bottom: 20px;
  font-weight:normal;
	font-size:15px;
	cursor:pointer;
	display:table;
  border:none;

}

button:hover
{
   background-color: lighten( $headerColor, 10% )
}

header
{
   padding: 15px;
   background-color: $headerColor;
   color: $invertTextColor;
}

.usersymbol
{
	position:absolute;
  top:0px;
  width: 50px;
  height: 46px;
  background-image: url($spriteSheet);
  background-position: -52px -2px;
  float: left;
}
.passsymbol
{
	position:absolute;
  top:0px;
  width: 50px;
  height: 46px;
  background-image: url($spriteSheet);
  background-position: -2px -2px;
  float: left;
}
.dk-tooltip {
  position:relative;
  background-color: $backgroundA;
  font-size: 13px;
  padding: 10px;
  color: $backgroundB;
  text-align: center;
  margin: 0 auto;
  width: 92%;
  margin-top: 10px;
  display: table;
   @include respond-to(smallDisplay) 
  {
    width: 100%;
  	padding: 8px;
  }
 }

.dk-tooltip:after {
  
  position: absolute;
  top: -10px;
  left: 50%;
  @include dreieck($backgroundA);
  
}

.ui-dialog
{
  @include border(0px, 5px, $borderColorPassive); 
}

